.wd-kanbas-navigator {
  background-color: black;
  padding: 0px;
  font-size: 0.8em;
  text-align: center;
  margin-right: 5px;
}

.wd-kanbas-navigator.li {
  background-color: black;
  list-style-type: none;
  text-align: center;
  padding: 5px;
}

.wd-kanbas-navigator.li.active {
  background-color: white;
  color: red;
  list-style-type: none;
  text-align: center;
  padding: 5px;
}

.wd-kanbas-navigator-item {
  color: white;
  text-decoration: none;
  text-align: center;
}

.wd-kanbas-navigator-item.active {
  background-color: white;
  color: red;
  text-decoration: none;
  text-align: center;
}

.wd-kanbas-navigator-icon {
  color: red;
}

body * {
  font-family: Verdana;
}
